<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="icons" class="container">
        <div class="iconbar">
          <div class="player">
            <img src="images/knight.png" alt="" />
          </div>
          <div class="heal" :class="{healActive : healUsed}">
            <img src="images/heal.png" alt="" />
          </div>
          <div class="sword" :class="{moveSwordRight : moveSwordRight}">
            <img src="images/sword.png" alt="" />
          </div>
          <div class="flame" :class="{moveFlameRight : moveFlameRight}">
            <img src="images/flame.png" alt="" />
          </div>
          <div class="claw" :class="{moveClawLeft : moveClawLeft}">
            <img src="images/griffe.png" alt="" />
          </div>
          <div class="monster">
            <img src="images/monster.png" alt="" />
          </div>
        </div>
      </section>

      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div
            class="healthbar__value monsterbar"
            :style="monsterBarStyles"
          ></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
       
        </div>
        <h2>Your Mana</h2>
        <div class="manabar">
          <div class="manabar__value" :style="playerManaBarStyles"></div>
          {{playerMana}} / 100
        </div>
      </section>
      <section class="container" v-if="winner">
          <h2>Game over ! </h2>
          <h3 v-if="winner === 'monster' ">You lost !</h3>
          <h3 v-else-if="winner === 'player' ">You won !</h3>
          <h3 v-else>It's a draw !</h3>
          <button @click="startGame">Start new game</button>
      </section>
      <section id="controls" v-if="!winner">
        <button  @click="attackMonster">ATTACK</button>

        <button :disabled="!mayUseSpecialAttack" @click="specialAttackMonster">
          SPECIAL ATTACK  <span>60 <i class="fas fa-tint"> </i></span>
        </button>
        <button :disabled="!mayUseHeal" @click="healPlayer">HEAL <span>40 <i class="fas fa-tint"> </i></span></button>
        <button @click="surrenderGame">SURRENDER</button>
      </section>

      <section id="log" class="container">
        <h2>Battle Log</h2>

        <ul></ul>
      </section>
      <section id="instructions" class="container ">        <h2>Beat the monster in less than {{startRemainingRounds}} rounds !</h2>
        <h3>Remaining rounds : {{ remainingRounds }}</h3></section>
    </div>
  </body>
</html>
